body {
  background-color: gainsboro;
  /* Use a system font, if none are available use an available sans-sarif */
  font-family: system-ui, sans-serif;
  margin: 10px;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 325px;
}

.sqr {
  width: 30%;
  aspect-ratio: 1/1;
  border: 3px solid black;
  font-size: 64px;
  text-align: center;
  cursor: pointer;
}

.btn {
  margin-top: 20px;
  width: 120px;
  height: 40px;
  font-size: 16px;
  color: white;
  background-color: #202A44;
  border-radius: 10px;
  cursor: pointer;
}

.hidden {
  visibility: hidden;
}